.card {
    max-width: 258px;
    padding: 32px;
    display: flex;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

    &__icon {
        height: 60px;
        width: 60px;
    }

    &__textContainer {
        margin: 0 0 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__value {
            color: #282D30;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        &__subText {
            color: #74798C;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 1220px) {

    .card {
        max-width: 213px;
        flex: 1;
    }
}